.control-width {
  width: 50vw !important;
}

.table {
  width: 80vw !important;
}

.phone-input {
  width: 40vw !important;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
